header.l-header-wrapper
    h1.l-header-title Projeto Gulp
    figure.l-header-content
        img.l-header-content-image(src="images/logo-gulp.png", alt="Logo Gulp" title="Logo gulp")
        figcaption.l-header-content-description Automatize as suas tasks com Gulp