@import '../base/variables.scss';

body {
    background: $body;
}

.l-header-wrapper {
    left: 50%;
    max-width: 500px;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.l-header-title {
    color: $header-title;
    font-size: $font-40;
    margin-bottom: 1.5em;
    text-align: center;
}

.l-header-content {
    text-align: center;
}

.l-header-content-image {
    width: 100%;
}

.l-header-content-description {
    color: $header-description;
    font-size: $font-16;
}