@import '../base/variables.scss';

@media(min-width: #{$small}) {
    .m-container {
        margin: 0 auto;
        width: 100%;
    }

    .m-col-1, .m-col-2, .m-col-3, .m-col-4, .m-col-5, .m-col-6, .m-col-7, .m-col-8, .m-col-9, .m-col-10, .m-col-11, .m-col-12 {
        display: block;
        padding: .625em;
        width: 100%;
    }
}

@media(min-width: #{$medium}) {

    .m-col-1, .m-col-2, .m-col-3, .m-col-4, .m-col-5, .m-col-6, .m-col-7, .m-col-8, .m-col-9, .m-col-10, .m-col-11, .m-col-12 {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        width: 50%;
    }
}

@media(min-width: #{$large}) {
    
    .m-container {
        max-width: $large;
    }

    .m-col-1, .m-col-2, .m-col-3, .m-col-4, .m-col-5, .m-col-6, .m-col-7, .m-col-8, .m-col-9, .m-col-10, .m-col-11, .m-col-12 {
        width: 100%;
    }

    .m-col-1 {
        max-width: 8.333333%;
    }

    .m-col-2 {
        max-width: 16.666667%;
    }

    .m-col-3 {
        max-width: 25%;
    }

    .m-col-4 {
        max-width: 33.333333%;
    }

    .m-col-5 {
        max-width: 41.666667%;
    }

    .m-col-6 {
        max-width: 50%;
    }

    .m-col-7 {
        max-width: 58.333333%;
    }

    .m-col-8 {
        max-width: 66.666667%;
    }

    .m-col-9 {
        max-width: 75%;
    }

    .m-col-10 {
        max-width: 83.333333%;
    }

    .m-col-11 {
        max-width: 91.666667%;
    }

    .m-col-12 {
        max-width: 100%;
    }
}

@media(min-width: #{$extra}) {

    .m-col-1, .m-col-2, .m-col-3, .m-col-4, .m-col-5, .m-col-6, .m-col-7, .m-col-8, .m-col-9, .m-col-10, .m-col-11, .m-col-12 {
        width: 100%;
    }

    .m-col-1 {
        max-width: 8.333333%;
    }

    .m-col-2 {
        max-width: 16.666667%;
    }

    .m-col-3 {
        max-width: 25%;
    }

    .m-col-4 {
        max-width: 33.333333%;
    }

    .m-col-5 {
        max-width: 41.666667%;
    }

    .m-col-6 {
        max-width: 50%;
    }

    .m-col-7 {
        max-width: 58.333333%;
    }

    .m-col-8 {
        max-width: 66.666667%;
    }

    .m-col-9 {
        max-width: 75%;
    }

    .m-col-10 {
        max-width: 83.333333%;
    }

    .m-col-11 {
        max-width: 91.666667%;
    }

    .m-col-12 {
        max-width: 100%;
    }
}